@import url("fonts.css");
@import url("variables.css");
@import url("reset.css");

/* button */
.qs-button-group{display: inline-flex;justify-content: center;align-items: center;}

.qs-button{display: inline-flex;justify-content: center;align-items: center;min-width: var(--input-height);height: var(--input-height);padding: 0 8px;margin: var(--input-margin);position: relative;font-size:var(--input-font-size);border: 1px solid var(--input-border-color);border-radius: var(--base-border-radius);background-color: var(--base-background-color);cursor:pointer;}
.button-primary{color: #fff;border: 1px solid var(--color-primary);background-color: var(--color-primary);}
.button-success{color: #fff;border: 1px solid var(--color-success);background-color: var(--color-success);}
.button-warning{color: #fff;border: 1px solid var(--color-warning);background-color: var(--color-warning);}
.button-danger{color: #fff;border: 1px solid var(--color-danger);background-color: var(--color-danger);}
.button-error{color: #fff;border: 1px solid var(--color-error);background-color: var(--color-error);}
.button-info{color: #fff;border: 1px solid var(--color-info);background-color: var(--color-info);}

.qs-icon{display: inline-flex;justify-content: center;align-items: center;width: 14px;height: 14px;}
.icon-write{}
.icon-edit{}
.icon-delete{}
.icon-share{}
.icon-search{}
.icon-upload{}

/* text */
.qs-text{display: inline-flex;align-items: center;max-width: 100%;height: var(--input-height);padding: 0 8px;margin: var(--input-margin);font-size:var(--input-font-size);border: 1px solid var(--input-border-color);border-radius: var(--input-border-radius);border: 1px solid var(--input-border-color);}
.qs-text[type="number"]::-webkit-outer-spin-button,
.qs-text[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
.qs-text:focus{border-color: var(--color-primary);}

/* number */
.qs-number{display: inline-flex;align-items: center;max-width: 100%;height: var(--input-height);padding: 0 8px;margin: var(--input-margin);font-size:var(--input-font-size);border: 1px solid var(--input-border-color);border-radius: var(--input-border-radius);border: 1px solid var(--input-border-color);}
.qs-number[type="number"]::-webkit-outer-spin-button {height: 15px}
.qs-number[type="number"]::-webkit-inner-spin-button {}
.qs-number:focus{border-color: var(--color-primary);}

/* lookup */
.qs-lookup{display: flex;flex-direction: row;height: var(--input-height);margin: var(--input-margin); position: relative;}
.qs-lookup > [type=text],
.qs-lookup > [type=search]{flex:1;max-width: calc(100% - 30px);height: 100%;padding: 0;font-size:var(--input-font-size);border: 1px solid var(--input-border-color);border-radius: var(--input-border-radius);}
.qs-lookup > button{display: flex;justify-content: center;align-items: center;width: 30px;height: 100%;font-size:var(--input-font-size);border: 1px solid var(--input-border-color);border-radius: var(--input-border-radius);background-color: #fff;color:var(--input-active-font-color);cursor: pointer;}

/* date */
.qs-date{display: inline-flex;align-items: center;height: var(--input-height);margin: var(--input-margin);position: relative;}
.qs-date .tui-datepicker-input{flex:1;height: var(--input-height);font-size:var(--input-font-size);}
.qs-date > span{padding: 5px;}
.qs-date[date-type=period] .qs-select{flex: 1;margin-right: 8px;}
.qs-date[date-type=period] .tui-datepicker-input{flex: 2;}
.qs-date > span{padding: 5px;}
.qs-date .datepicker-container-end .tui-datepicker{left: initial;right: 0;}

/* file */
.qs-file{display: inline-block;margin: var(--input-margin);position: relative;}
.qs-file > input[type=file]{display: none;}
.qs-file > input[type=file] + label{display:inline-block;height: var(--input-height);line-height: var(--input-height);padding: 0 8px;font-size: var(--input-font-size);border: 1px solid var(--input-border-color);border-radius: var(--input-border-radius);background-color:var(--input-active-background-color);cursor: pointer;}

.file-list{padding: 0;margin: 0;list-style: none;}
.file-list > .file-list-item{}
.file-list > .file-list-item > .file-info{font-size: var(--input-font-size);}
.file-list > .file-list-item > .file-delete{font-size: var(--input-font-size);}

/* textarea */
.qs-textarea{display: inline-block;vertical-align: top;width:100%;padding: 8px;margin: 4px;font-size:var(--input-font-size);border-radius: 4px;border: 1px solid #e1e1e1;resize: none;}

/* checkbox */
.qs-check{display: inline-flex;align-items: center;margin: var(--input-margin);}
.qs-check > input[type=checkbox]{width: 12px;height: 12px;margin: 2px 8px;position: relative;z-index: 0;}
.qs-check > input[type=checkbox]::before{display: block;content: '';width: 16px;height: 16px;margin: -2px 0 0 -2px;border:1px solid var(--input-border-color);border-radius:3px;background-color:#fff;}
.qs-check > input[type=checkbox]::after{display: block;content: '';width: 6px;height: 10px;margin: -14px 0 0 3px;border:0;border-bottom: 2px solid transparent;border-right: 2px solid transparent;transform: rotate(45deg);}
.qs-check > input[type=checkbox]:checked::before{border-color: var(--input-active-font-color);}
.qs-check > input[type=checkbox]:checked::after{border-color: var(--input-active-font-color);}
.qs-check > label{line-height: 20px;font-size:var(--input-font-size);}

/* radio */
.qs-radio{display: inline-flex;align-items: center;margin: var(--input-margin);}
.qs-radio > input[type=radio]{width: 12px;height: 12px;margin: 2px 8px;position: relative;z-index: 0;}
.qs-radio > input[type=radio]::before{display: block;content: '';width: 16px;height: 16px;margin: -2px 0 0 -2px;border:1px solid var(--input-border-color);border-radius:16px;background-color:#fff;}
.qs-radio > input[type=radio]::after{display: block;content: '';width: 8px;height: 8px;margin: -12px 0 0 2px;border:0;border-radius: 4px;background-color: transparent;}
.qs-radio > input[type=radio]:checked::before{border-color: var(--input-active-font-color);}
.qs-radio > input[type=radio]:checked::after{background-color: var(--input-active-font-color);}
.qs-radio > label{line-height: 20px;font-size:var(--input-font-size);}

/* select */
.qs-select{display: inline-flex;align-items: center;height: var(--input-height);margin: var(--input-margin);}

/* title */
.qs-title{display: flex;align-items: center;word-break: keep-all;font-weight: 500;}
h2.qs-title{font-size: 1.4em;}
h3.qs-title{font-size: 1.2em;}
h4.qs-title{font-size: 1em;}

/* toolbar */
.qs-toolbar{display: flex;flex-direction: column;padding: 0;margin: 10px;border: 1px solid var(--base-border-color);border-radius: var(--input-border-radius);}
.qs-toolbar .toolbar-toggle > i{width: 8px;height: 8px;margin-top: 4px;border: 0;border-left: 1px solid var(--input-icon-color);border-bottom: 1px solid var(--input-icon-color);transform: rotate(135deg);transition: all ease 0.2s;}
.qs-toolbar > dt {display: flex;justify-content: space-between;align-items: center;min-height:48px;padding: 6px;}
.qs-toolbar > dd {border-top: 1px solid var(--base-border-color);padding: 6px;}
.qs-toolbar.close > dd{display:none;}
.qs-toolbar.close .toolbar-toggle > i{margin-top: -2px;transform: rotate(-45deg);}

/* tab */
.qs-tab{position:relative;}
.qs-tab .qs-tab__bar{padding:10px 20px;margin:0;position:relative;overflow-x:auto;white-space:nowrap;border-bottom:2px solid #c6c6c6;}
.qs-tab .qs-tab__bar > li{display:inline-flex;padding:0;margin:0 15px 0 0;list-style:none;}
.qs-tab .qs-tab__bar > li > button,
.qs-tab .qs-tab__bar > li > a{display:block;padding:0;position:relative;color:#cbcbcb;text-align:center;border:0;background-color:#fff;}
.qs-tab .qs-tab__bar > li > button:after,
.qs-tab .qs-tab__bar > li > a:after{display:block;content:'';position:absolute;right:0;bottom:0;left:0;height:1px;background-color:#cbcbcb;}
.qs-tab .qs-tab__bar > li > button.active,
.qs-tab .qs-tab__bar > li > a.active{color:#975fae;font-weight: bold;}
.qs-tab .qs-tab__bar > li > button.active:after,
.qs-tab .qs-tab__bar > li > a.active:after{background-color:#975fae;}

/* list */
.qs-list{}
.qs-list > table{width:100%;border-collapse:collapse;border-top:1px solid #c6c6c6;border-bottom:1px solid #c6c6c6;}
.qs-list > table caption{width:0;height:0;position:absolute;font-size: 0;}
.qs-list > table th,
.qs-list > table td{padding:7px 10px;position:relative;border:1px solid #e1e1e1;}
.qs-list > table th{color:#000;font-weight: 500;border-top:1px solid #c6c6c6;background-color:#F3F1F5;}

ul.qs-list{display: flex;flex-direction: column;padding: 0;margin: 0;list-style: none;}
ul.qs-list > li{padding: 10px 0;margin: 0;}
ul.qs-list > li.list-header{color:#000;font-weight: 500;text-align:center;background-color:#F3F1F5;}
ul.qs-list > li .list-link{padding-right:30px;border-top: 1px solid #c6c6c6;border-bottom: 1px solid #c6c6c6;}
ul.qs-list > li .subject{display:block;max-width:75vw;margin:0 2px;font-weight: bold;text-overflow:ellipsis; overflow: hidden;white-space: nowrap;}
ul.qs-list > li .date,
ul.qs-list > li .info{display:block;margin:0 2px;color:#8b8b8b;font-size:0.9em;}

/* form */
.qs-form-item{display: flex;padding: 4px 2px;}
.qs-form-item > .qs-form-item__label{display: flex;flex: 0 0 120px;align-items: center;padding:4px 2px;margin: var(--base-margin);}
.qs-form-item > .qs-form-item__content{display: flex;}
.qs-form-item > .qs-form-item__content > .qs-text,
.qs-form-item > .qs-form-item__content > .qs-number,
.qs-form-item > .qs-form-item__content > .qs-lookup,
.qs-form-item > .qs-form-item__content > .qs-select,
.qs-form-item > .qs-form-item__content > .qs-date{flex: 1;}
.qs-form-item.direction-column{flex-direction:column;}
.qs-form-item.direction-column > .qs-form-item__content{flex: 1;}
.qs-form-item.direction-column > .qs-form-item__label{flex: 1;max-width: initial;font-size:var(--input-font-size);}

/* view */
.qs-view{}
.qs-view > table{width:100%;border-collapse:collapse;border-top:1px solid #c6c6c6;border-bottom:1px solid #c6c6c6;}
.qs-view > table caption{width:0;height:0;position:absolute;font-size: 0;}
.qs-view > table th,
.qs-view > table td{padding:3px 5px;position:relative;font-weight:400;text-align:left;border-bottom:1px solid #e1e1e1;}
.qs-view > table tbody th{padding-left:10px;background-color:#F3F1F5;}

.qs-view-item{display: flex;padding: 0;margin: 0 0 10px 0;}
.qs-view-item.direction-column{flex-direction:column;}
.qs-view-item > label{display: flex;align-items: center;flex:0 0 25%;max-width:50%;margin: 2px 2px 6px;}

/* popup */
.qs-popup-wrap{display:none;position:fixed;top:0;right:0;bottom:0;left:0;background-color:rgba(0, 0, 0, 0.45);z-index:60;}
.qs-popup-wrap.is-active{display:block;}
.qs-popup-wrap .qs-popup{min-width:300px;max-width:100%;padding-bottom:20px;position:absolute;left:50%;top:50%;box-sizing:border-box;border:0;border-radius:4px;background-color:#fff;box-shadow:0 0 2px rgba(0, 0, 0, 0.29);transform: translate(-50%, -50%);}
.qs-popup-wrap .qs-popup .btn-popup-close{float:right;width:30px;height:30px;font-size:0;border:0;}
.qs-popup-wrap .qs-popup .popup-header{padding:5px 18px;position:relative;border-radius:4px 4px 0 0;background-color:#fff;}
.qs-popup-wrap .qs-popup .popup-header:after{display:block;content:"";clear:both;}
.qs-popup-wrap .qs-popup .popup-body{max-height:70vh;padding:10px 18px 0;background-color:#fff;overflow-y:auto;}
.qs-popup-wrap .qs-popup .popup-footer{padding:10px 18px 0;text-align:right;background-color:#fff;}

/***** response *****/
@media all and (max-width: 1440px){    
}

/* response - tablet */
@media all and (max-width: 1024px){
}

/* response - phone */
@media all and (max-width: 768px){
}