
*, *::before, *::after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
html,body{width:inherit;height:inherit;-webkit-font-smoothing:antialiased;box-sizing:border-box;}
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;font-size: var(--base-font-size);vertical-align: baseline;background: transparent;}
body,input,textarea,select,button,table,pre{font-family: var(--base-font-family);font-size: var(--base-font-size);font-weight: 400;color: var(--base-font-color);line-height: 1;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
:focus{outline: 0;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
img{border:0px none;}
a{text-decoration:none;color:var(--base-font-color);cursor:pointer;}
table{width: 100%;border-collapse: collapse;}
table caption{width: 0;height: 0;position: absolute;font-size: 0;}
textarea,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"]{-webkit-appearance: none;background-image: linear-gradient(transparent, transparent);}
input::placeholder,
input::-webkit-input-placeholder{color: var(--input-placeholder-font-color);}
input:disabled{background-color: var(--input-disabled-background-color);}


/* div */
.qs-row{display: flex;flex-wrap: wrap;padding:0;margin:0;list-style:none;position: relative;box-sizing: border-box;}
.qs-row > [class*=qs-col-] {padding: 0;margin: 0;box-sizing: border-box;}
.qs-col-1{flex: 0 0 4.1666666667%;max-width: 4.1666666667%;}
.qs-col-2{flex: 0 0 8.3332%;max-width: 8.3332%;}
.qs-col-3{flex: 0 0 12.5%;max-width: 12.5%;}
.qs-col-4{flex: 0 0 16.6666666667%;max-width: 16.6666666667%;}
.qs-col-5{flex: 0 0 20.8333333333%;max-width: 20.8333333333%;}
.qs-col-6{flex: 0 0 24.9996%;max-width: 24.9996%;}
.qs-col-7{flex: 0 0 29.1666666667%;max-width: 29.1666666667%;}
.qs-col-8{flex: 0 0 33.3333333333%;max-width: 33.3333333333%;}
.qs-col-9{flex: 0 0 37.5%;max-width: 37.5%;}
.qs-col-10{flex: 0 0 41.6666666667%;max-width: 41.6666666667%;}
.qs-col-11{flex: 0 0 45.8333333333%;max-width: 45.8333333333%;}
.qs-col-12{flex: 0 0 50%;max-width: 50%;}
.qs-col-13{flex: 0 0 54.1666666667%;max-width: 54.1666666667%;}
.qs-col-14{flex: 0 0 58.3333333333%;max-width: 58.3333333333%;}
.qs-col-15{flex: 0 0 62.5%;max-width: 62.5%;}
.qs-col-16{flex: 0 0 66.6666666667%;max-width: 66.6666666667%;}
.qs-col-17{flex: 0 0 70.8333333333%;max-width: 70.8333333333%;}
.qs-col-18{flex: 0 0 75%;max-width: 75%;}
.qs-col-19{flex: 0 0 79.1666666667%;max-width: 79.1666666667%;}
.qs-col-20{flex: 0 0 83.3333333333%;max-width: 83.3333333333%;}
.qs-col-21{flex: 0 0 87.5%;max-width: 87.5%;}
.qs-col-22{flex: 0 0 91.6666666667%;max-width: 91.6666666667%;}
.qs-col-23{flex: 0 0 95.8333333333%;max-width: 95.8333333333%;}
.qs-col-24{flex: 0 0 100%;max-width: 100%;}

/* toast lib */
.tui-datepicker-input{width:initial;height:initial;border:0;}
.tui-datepicker-input{flex:1;}
.tui-datepicker-input>input{height: var(--input-height);padding:0 8px 0 30px;font-size:var(--input-font-size);border:1px solid var(--input-border-color);border-radius:4px;}
.tui-datepicker-input>input[type="number"]::-webkit-outer-spin-button,
.tui-datepicker-input>input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
.tui-datepicker-input>input:focus{border-color: var(--color-primary);}
.tui-datepicker-input>.tui-ico-date{right: initial;left: 8px;}
.tui-datepicker{top: 31px;left: 0;border-color:var(--input-border-color);border-radius:var(--input-border-radius);z-index:99;}
.tui-calendar{border-color:var(--input-border-color);}
.tui-calendar .tui-calendar-header{border-color:var(--input-border-color);}
.tui-calendar td, .tui-calendar th{line-height: 39px;}
.tui-calendar .tui-calendar-month,
.tui-calendar .tui-calendar-year{line-height: 50px;}

.tui-select-box{width: 100%;}
.tui-select-box-input, 
.tui-select-box-item, 
.tui-select-box-item-group-label{height: var(--input-height);font-size:var(--input-font-size);border-radius: var(--input-border-radius);border-color: var(--input-border-color);color: var(--base-font-color);}
.tui-select-box-item, 
.tui-select-box-item-group-label, 
.tui-select-box-placeholder{line-height: var(--input-height);}
.tui-select-box-icon, 
.tui-select-box-placeholder{color: var(--base-font-color);}
.tui-select-box-input:focus{outline: 0px solid transparent;}
.tui-select-box-placeholder{width:calc(100% - 20px);font-size:var(--input-font-size);}
.tui-select-box-icon{width: 8px;height: 8px;margin-top: 6px;border: 0;border-left: 1px solid var(--input-icon-color);border-bottom: 1px solid var(--input-icon-color);transform: rotate(-45deg);background: none;}
.tui-select-box-input.tui-select-box-open{border-color: var(--color-primary);}
.tui-select-box-open>.tui-select-box-icon{margin-top: 10px;transform: rotate(135deg);}
.tui-select-box-dropdown{border-color: var(--base-border-color);z-index: 99;}
.tui-select-box-item-group-label{height: var(--input-height);border-radius: var(--input-border-radius);border-color: var(--input-border-color);}
.tui-select-box-dropdown{border-radius: var(--input-border-radius);}
.tui-select-box-dropdown, 
.tui-select-box-input.tui-select-box-open{border-color: var(--input-border-color);}
.tui-select-box-input:focus{outline: 0;}

.tui-grid-container{font-family: var(--base-font-family);}
.tui-grid-container .tui-grid-cell{padding: 4px;font-size:var(--grid-cell-font-size);border:1px solid var(--grid-cell-border-color);background-color: var(--grid-cell-background-color);}
.tui-grid-container .tui-grid-cell.tui-grid-cell-header{padding:4px 8px;position:relative;font-size: var(--grid-cell-font-size);font-weight: 500;background-color: var(--grid-header-background-color);}
.tui-grid-container .tui-grid-cell.tui-grid-cell-row-header > span{font-size: var(--grid-cell-font-size);}
.tui-grid-container .tui-grid-btn-sorting{}
.tui-grid-container .tui-grid-btn-filter{}
.tui-grid-container .tui-grid-cell .tui-grid-cell-content{padding: 4px;font-size: var(--grid-cell-font-size);}
.tui-grid-container .tui-grid-cell .tui-grid-cell-content button{height: 18px;line-height: 16px;padding: 0 4px;margin: 0 2px;border-radius: 2px;border: 1px solid var(--input-border-color);}
.tui-grid-container .tui-grid-cell-content input[type=password], 
.tui-grid-container .tui-grid-cell-content input[type=text]{padding: 4px;}
.tui-grid-container .tui-grid-border-line-top{border-top: 1px solid var(--grid-border-color);}
.tui-grid-container .tui-grid-border-line-left{border-left: 1px solid var(--grid-border-color);}
.tui-grid-container .tui-grid-border-line-right{border-right: 1px solid var(--grid-border-color);}
.tui-grid-container .tui-grid-border-line-bottom{border-bottom: 1px solid var(--grid-border-color);}

.tui-grid-container .tui-grid-row-hover .tui-grid-cell{background-color: var(--grid-hover-background-color);}
.tui-grid-container .tui-grid-layer-focus-border,
.tui-grid-container .tui-grid-layer-focus .tui-grid-layer-focus-border,
.tui-grid-container .tui-grid-layer-focus-deactive .tui-grid-layer-focus-border{background-color: transparent;}
.tui-grid-container .tui-grid-layer-selection{background-color: transparent;border-color: transparent;}
.tui-grid-container .tui-grid-cell-row-header.tui-grid-cell-selected{background-color: transparent;}
.tui-grid-container .tui-grid-cell-current-row .tui-grid-cell,
.tui-grid-container .tui-grid-cell-current-row .tui-grid-cell-row-header.tui-grid-cell-selected{background-color: var(--grid-current-background-color);}

.tui-grid-container input[type=checkbox]{position: relative;z-index: 0;}
.tui-grid-container input[type=checkbox]:before{display: block;content: "";width: 15px;height: 15px;position: absolute;top: -1px;left: -1px;border-radius: 3px;border:1px solid var(--input-border-color);background-color: #fff;z-index: 1;}
.tui-grid-container input[type=checkbox]:after{display: none;content: "";width: 9px;height: 6px;position: absolute;top: 2px;left: 2px;border-left: 2px solid var(--input-active-font-color);border-bottom: 2px solid var(--input-active-font-color);transform: rotate(-45deg);z-index: 2;}
.tui-grid-container input[type=checkbox]:checked::before{border-color: var(--input-active-font-color);}
.tui-grid-container input[type=checkbox]:checked:after{display: block;}

.tui-grid-container .tui-grid-pagination{display: flex;justify-content: center;align-items: center;}
.tui-grid-container .tui-pagination .page-total{margin-right: 30px;}
.tui-grid-container .tui-pagination .tui-first-child.tui-is-selected,
.tui-grid-container .tui-pagination .tui-is-selected:hover,
.tui-grid-container .tui-pagination .tui-last-child.tui-is-selected,
.tui-grid-container .tui-pagination .tui-is-selected, 
.tui-grid-container .tui-pagination strong{background-color: var(--pagination-selected-background-color);border-color: var(--pagination-selected-background-color);}