:root {
  --color-primary: #9dc5d4;
  --color-success: #67c23a;
  --color-warning: #e6a23c;
  --color-danger: #f56c6c;
  --color-error: #ff0000;
  --color-info: #909399;

  --base-font-family: 'Noto Sans KR';

  --base-height: 27px;
  --base-padding: 0 8px;
  --base-margin: 2px 4px;
  --base-font-size: 14px;
  --base-font-color: #000;  
  --base-border-radius: 4px;
  --base-border-color: #e8e8e8;
  --base-background-color: #fff;
  --base-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, .36), 0px 8px 20px rgba(0, 0, 0, .72);

  --input-height: var(--base-height);
  --input-margin: var(--base-margin);
  --input-font-size: 0.875rem;
  --input-font-color: var(--base-font-color);
  --input-border-radius: var(--base-border-radius);
  --input-border-color: var(--base-border-color);
  --input-icon-color: #000;
  --input-disabled-background-color: #f1f1f1;
  --input-placeholder-font-color: #c0c4cc;

  --input-active-font-color: #21667e;
  --input-active-border-color: #9dc5d4;
  --input-active-background-color: #9dc5d4;
    
  --grid-border-color: #eaf2f9;  
  --grid-cell-font-size: 12px;
  --grid-cell-border-color: #ebeef5;
  --grid-cell-background-color: #fff;
  --grid-header-background-color: #f5fafc;
  --grid-hover-background-color: #f6f6f6;
  --grid-current-background-color: #e4f3f7;

  --pagination-selected-background-color: #9dc5d4;
  --pagination-selected-color: #fff;
}  